/arrays.ali
/arrays.o
/arrays2.ali
/arrays2.o
/enumerados.ali
/enumerados.o
/excepciones1.ali
/excepciones1.o
/excepciones2.ali
/excepciones2.o
/funciones.ali
/funciones.o
/main.ali
/main.exe
/main.o
/operadores.ali
/operadores.o
/procedures.ali
/procedures.o
/punteros.ali
/punteros.o
/registros.ali
/registros.o
/strings.ali
/strings.o
/strings2.ali
/strings2.o
/tablas_de_multiplicar.ali
/tablas_de_multiplicar.o
/tipos_basicos.ali
/tipos_basicos.o
/tipos_basicos_2.ali
/tipos_basicos_2.o
/tipos_subtipos.ali
/tipos_subtipos.o